.login{
	background-color: #004788;
	height: 100vh; 
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
}
.login_container{
	width: 300px;
	display: flex;
    flex-direction: column;   
    padding: 20px;
    border: 1px solid lightgray;
    margin-top: -50px;
}
.login_container>h1{
	font-weight: 500;
	margin-bottom: 20px;
}
.login_container>form>input{
   height: 30px;
   margin-bottom: 10px;
   background-color: white;
   width: 98%;	
}
.login_container>p{
	margin-top: 15px;
	font-size: 12px;
}
.login_logo{
	height: 200px;
	margin-top: 20px;
	object-fit: contain;
}
.login_signInButton{
	background: #ffdcba;
	border-radius: 2px;
	width: 100%;
	height: 30px;
	border: 1px solid;
	margin-top: 10px;
	border-color: #a88734 #9c7e31 #846a29;
}
.login_signInButton:hover{
	background-color: #755139FF;
	color: white;
	transition: 0.5s;
}
.login_registerButton{
	border-radius: 2px;
	width: 100%;
	height: 30px;
	border: 1px solid;
	margin-top: 10px;
	border-color: darkgray;
    text-decoration: none;
} 
